contourpy
cycler
fonttools
joblib
kiwisolver
matplotlib
narwhals
numpy
packaging
pandas
pillow
plotly
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
tabulate
tensorflow
threadpoolctl
tzdata
flake8